body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;

    display: flex;
    justify-content: center;   
    align-items: center;       
                
}

.main-content {
    width: 100%;
    max-width: 600px;
}

h2 {
    color: #2c3e50;
    margin-bottom: 20px;
}

.form-card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    max-width: 600px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
    color: #2c3e50;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #c9a227;
    outline: none;
}

.submit-btn {
    background-color: #c9a227;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.submit-btn:hover {
    background-color: #b8921e;
}
