body {
  font-family: "Segoe UI", sans-serif;
  background: #edf7f1;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.container {
  width: 100%;
  max-width: 900px;
  background: white;
  padding: 25px 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header .logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.alert {
  color: #b91c1c;
  font-weight: bold;
  margin-bottom: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th, table td {
  border: 1px solid #cbd5e0;
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background: #1abc9c;
  color: white;
}

table tbody tr.low-stock {
  background: #fef2f2; /* light red */
  color: #b91c1c;
}

button.edit {
  padding: 5px 10px;
  background: #dae908ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.edit:hover {
  background: #82db0eff;
}

/* Modal */
.modal {
  display: none; 
  position: fixed; 
  z-index: 100; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  position: relative;
}

.close {
  color: #333;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 25px;
  cursor: pointer;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group input {
  padding: 10px;
  border: 1px solid #cbd5e0;
  border-radius: 6px;
  font-size: 16px;
}

.btn-submit {
  width: 100%;
  padding: 12px;
  background: #2f855a;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-submit:hover {
  background: #276749;
}


button.deactivate {
  padding: 6px 12px;
  border: none;
  background: #b91c1c;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 5px;
}

button.deactivate:hover {
  background: #991b1b;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button.danger {
  background: #b91c1c;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
}

button.cancel {
  background: #e5e7eb;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
}


@media (max-width: 600px) {
  table th, table td {
    font-size: 12px;
    padding: 6px;
  }
}
